In [8]:
import numpy as np
docs = [
    'go pakistan',
    'pakistan zindabad',
    'hip hip hurray',
    'jeetega bhai jeetega pakistan jeetega',
    'pakistan ki shaan',
    'lahore lahore',
    'karachi karachi',
    'islamabad islamabad',
    'imran khan zindabad',
    'inquilab zindabad'
]

In [12]:
from tensorflow.keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(oov_token='<Okay>')

In [13]:
tokenizer.fit_on_texts(docs)

In [14]:
tokenizer.word_index

{'<Okay>': 1,
 'pakistan': 2,
 'zindabad': 3,
 'jeetega': 4,
 'hip': 5,
 'lahore': 6,
 'karachi': 7,
 'islamabad': 8,
 'go': 9,
 'hurray': 10,
 'bhai': 11,
 'ki': 12,
 'shaan': 13,
 'imran': 14,
 'khan': 15,
 'inquilab': 16}

In [15]:
tokenizer.word_counts

OrderedDict([('go', 1),
             ('pakistan', 4),
             ('zindabad', 3),
             ('hip', 2),
             ('hurray', 1),
             ('jeetega', 3),
             ('bhai', 1),
             ('ki', 1),
             ('shaan', 1),
             ('lahore', 2),
             ('karachi', 2),
             ('islamabad', 2),
             ('imran', 1),
             ('khan', 1),
             ('inquilab', 1)])

In [16]:
tokenizer.document_count

10

In [17]:
sequences = tokenizer.texts_to_sequences(docs)
sequences

[[9, 2],
 [2, 3],
 [5, 5, 10],
 [4, 11, 4, 2, 4],
 [2, 12, 13],
 [6, 6],
 [7, 7],
 [8, 8],
 [14, 15, 3],
 [16, 3]]

In [18]:
from keras.utils import pad_sequences

In [19]:
sequences = pad_sequences(sequences,padding='post')

In [20]:
sequences

array([[ 9,  2,  0,  0,  0],
       [ 2,  3,  0,  0,  0],
       [ 5,  5, 10,  0,  0],
       [ 4, 11,  4,  2,  4],
       [ 2, 12, 13,  0,  0],
       [ 6,  6,  0,  0,  0],
       [ 7,  7,  0,  0,  0],
       [ 8,  8,  0,  0,  0],
       [14, 15,  3,  0,  0],
       [16,  3,  0,  0,  0]], dtype=int32)